requests
pymongo
bs4
g4f
RyuzakiLib
uvicorn
gpytranslate
google-search-results
httpx
serpapi
telegraph
pathlib
anyio
certifi==2023.7.22
click
fastapi[all]
h11
httpcore
httptools
httpx
idna
jinja2
markupsaf
pydantic
python-dotenv
pyyaml
sniffi
starlette
typing-extensions
uvicorn[standard]
uvloop
watchfiles
websockets
stripe
